<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Places_09.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Places_09ApplicationTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Places_09Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UI Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE809886147738290067AAC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8098A11477382A0067AAC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8098F414773EE60067AAC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEF3ADC8149C4FC600D53424</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
